.root {
  background-color: var(--blue);
  padding: 10px 0px;
  .burger {
    display: none;
  }
  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style: none;

      color: var(--orange);
      text-decoration: none;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

@media (max-width: 768px) {
  .root {
    position: relative;
    height: 40px;
    padding: 0;
    .burger {
      display: block;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
    nav {
      display: none;
      ul {
        font-size: 10px;
      }
    }
  }
}
