.root {
  padding-top: 70px;
  a {
    font-size: 18px;
    text-decoration: none;
    color: inherit;
  }
  .fill {
    .form {
      display: flex;
      justify-content: space-between;
      .btn {
        width: 70px;
        border-radius: 10px;
      }
      .input {
        width: 60%;
      }
      margin-bottom: 100px;
    }
  }
  h2 {
    margin-bottom: 20px;
  }
  .comment {
    position: relative;
    .subtitle {
      color: rgb(113, 113, 113);
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .content {
      font-size: 18px;
      min-height: 100px;
    }
    .time {
      font-size: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
    }
  }
}
