.root {
  padding-top: 10px;
  h1 {
    margin-bottom: 20px;
  }
  .layout {
    min-height: 80vh;
    width: 80%;
    margin-bottom: 30px;
  }
  .pages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    p {
      width: 25px;
      height: 25px;

      border-radius: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }
    .active {
      background: var(--light-blue);
      color: #fff;
    }
  }

  .largest {
    .large {
      padding: 10px 20px;
      border: 2px solid var(--orange);
      h4 {
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 30px;
      }
      .link {
        display: flex;
        align-items: center;
        &:hover {
          color: var(--orange);
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 978px) {
  .root {
    main {
      width: 100%;

      display: flex;
      flex-direction: column-reverse;
      aside {
        width: 100%;
        display: flex;
        flex-direction: column;
        div {
          display: flex;
          gap: 5px;
          flex-direction: row;
          flex-wrap: wrap;

          button {
            width: 70px !important;
            font-size: 15px;
            max-width: 70px;
          }
        }
      }
      .layout {
        width: 100%;
        div {
          width: 180px;
          max-height: 200px;
          min-height: 170px;
        }
      }
    }
  }
}
