.root {
  padding-top: 10px;
  h1 {
    margin-bottom: 20px;
  }
  .layout {
    min-height: 80vh;
    width: 80%;
    margin-bottom: 30px;
  }
  .pages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    p {
      width: 25px;
      height: 25px;

      border-radius: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }
    .active {
      background: var(--light-blue);
      color: #fff;
    }
  }
}
