.root {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  .filters {
    padding-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .darkInput {
      color: #fff !important;
      input {
        color: #fff !important;
      }
      fieldset {
        color: #fff !important;
      }
    }
  }
 
  aside {
    width: 60%;

    a {
      color: var(--orange);
      text-decoration: none;
      font-size: 20px;
      transition: 0.3s;
      &:hover {
        color: #fbab4a;
        text-decoration: underline;
      }
    }
  }
  .profile {
    display: flex;
    flex-direction: column;
    gap: 40px;
   
  }
}

@media (max-width: 978px) {
  .root {
    flex-direction: column-reverse;
    aside {
      width: 100%;
    }
    .profile {
      flex-direction: column;

      margin-bottom: 30px;
      button {
        width: 200px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .root {
    padding-left: 10px;
    .collections {
      width: 100%;
      gap: 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: start;
    }
  }
}
