*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.darkMode {
  color: #fff;
  background: black;
}
.layout {
  display: flex;
  // justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
body {
  transition: 0.5s;
}
main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  aside {
    width: 20%;
  }
}
@font-face {
  font-family: "Robotto";
  src: url(assets/fonts/Roboto-Regular.ttf);
}
:root {
  --light-blue: #4f709c;
  --light-gray: #f5efe7;
  --gold-gray: #d8c4b6;
  --blue: #213555;
  --orange: #f29727;
}
body {
  font-family: "Robotto";
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.title {
  font-size: 32px;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
