.admin {
  width: 100%;

  .content {
    margin-left: 88px;

    .routes {
      margin-top: 50px;
    }
  }
}

@media (max-width: 420px) {
  .admin {
    width: 100%;

    .content {
      margin-left: 0;

      .routes {
        margin-top: 50px;
      }
    }
  }
}
